@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,500;1,500&display=swap');

.h1 {
  margin: 0;

  color: var(--primary-color);

  font-family: 'Brygada 1918', serif;

  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
}

.h2 {
  margin: 0;

  color: var(--primary-color);

  font-family: 'Brygada 1918', serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}

.h3 {
  margin: 0;

  color: var(--primary-color);

  font-family: 'Brygada 1918', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}